<div>
    <h1>This is Heading.</h1>
    <mat-slide-toggle>Toggle me!</mat-slide-toggle>
    <!-- <div class="example-container"> -->
        <!-- <mat-form-field appearance="fill">
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="pat@example.com" [formControl]="email" required>
            @if (email.invalid) {
                <mat-error>{{getErrorMessage()}}</mat-error> 
            }
        </mat-form-field> -->
        <!-- <mat-form-field>
            <mat-label>Field Name</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Field Type</mat-label>
            <mat-select>
                <mat-option value="one">Text</mat-option>
                <mat-option value="two">Email</mat-option>
                <mat-option value="three">Password</mat-option>
                <mat-option value="four">Select</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-checkbox class="example-margin" [(ngModel)]="required">Required</mat-checkbox>
    </div> -->
    <div>
        <form [formGroup]="loginForm" (ngSubmit)="loginUser()" >
            <input type="text" placeholder="Enter name" name="user" formControlName="user">
            <mat-form-field>
                <mat-label>Field Name</mat-label>
                <input matInput name="name" formControlName="name">
            </mat-form-field>
            <br><br>
            <button >Add</button>
        </form>
    </div>
</div>
