<!-- <div class="example-container">
    <form [formGroup]="loginForm" (ngSubmit)="loginUser()" (ngSubmit)="addField()">
        <mat-form-field>
            <mat-label>Field Name</mat-label>
            <input matInput name="labelName" formControlName="labelName">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Field Type</mat-label>
            <mat-select name="labelType" formControlName="labelType" id="labelType">
                <mat-option value="text">Text</mat-option>
                <mat-option value="email">Email</mat-option>
                <mat-option value="password">Password</mat-option>
                <mat-option value="select">Select</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-checkbox class="example-margin" [(ngModel)]="required" formControlName="isRequired">Required</mat-checkbox>
        <br><br>
        <mat-form-field *ngIf="loginForm.get('labelType')?.value === 'select'">
            <input matInput formControlName="options" placeholder="enter options (comma separated)">
        </mat-form-field>
        <br><br>
        <button>Add</button>
    </form>
</div> -->

<div class="example-container">
    <form [formGroup]="loginForm" (ngSubmit)="loginUser()" (ngSubmit)="addField()" class="form-container">
      <mat-form-field class="form-field">
        <mat-label>Field Name</mat-label>
        <input matInput name="labelName" formControlName="labelName">
      </mat-form-field>
  
      <mat-form-field class="form-field">
        <mat-label>Field Type</mat-label>
        <mat-select name="labelType" formControlName="labelType" id="labelType">
          <mat-option value="text">Text</mat-option>
          <mat-option value="email">Email</mat-option>
          <mat-option value="password">Password</mat-option>
          <mat-option value="select">Select</mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-checkbox class="example-margin" [(ngModel)]="required" formControlName="isRequired">Required</mat-checkbox>
  
      <div *ngIf="loginForm.get('labelType')?.value === 'select'" >
        <mat-form-field class="form-field">
            <mat-label>Options</mat-label>
            <input matInput formControlName="options" placeholder="Enter options (comma separated)">
        </mat-form-field>
      </div>
  
      <div class="button-container">
        <button type="submit">Add</button>
      </div>
    </form>
  </div>
  